<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'customer' if current_customer.present? %> <%= 'driver' if current_driver.present? %>">

    <%= render "layouts/navbar" %>
    <%= yield %>

    </body>
</html>
